.venv/
.venv*/
__pycache__/
*.pyc
.pytest_cache/
.env
data/
models/
tmp-*.log
output/*.log
output/*.pid
output/playwright/
logs/

!models/.gitkeep

.cache/
!/.cache/.gitkeep
.tmp.driveupload/
venv/
node_modules/
config/tools/
config/data/
dashboard/node_modules/
ffmpeg/
vosk-model/
api_keys.txt
